# IDE folders
.idea

# SQL TEST
sql_queries

# files
*.pyc
__pycache__/

# configs
application/config.py

# tests
.pytest_cache/
.coverage
htmlcov/

# Flask
instance/

# HZ????
dist/
build/
*.egg-info/

# SQL Lite
*.sqlite3
application/database.db

/web_money_manager