{% extends 'auth/auth_base.html' %}

{% block title %} - Sign in{% endblock %}

{% block content %}
    <main class="form-signin">
        <img class="mb-4" src="{{ url_for('static', filename='assets/brand/logo.png') }}" alt="Logo" width="75" height="72">
        <form method="post">
            <h1 class="h3 mb-3 fw-normal">Please, sign in</h1>
            {% for message in get_flashed_messages() %}
                <div class="alert alert-danger" role="alert">
                    <strong>Error:</strong> {{ message }}
                </div>
            {% endfor %}
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-defaul"><ion-icon name="person-outline"></ion-icon></span>
                <input name="username" id="username" type="text" class="form-control" placeholder="Username"
                       aria-label="Username"
                       aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-small"><ion-icon
                        name="key-outline"></ion-icon></span>
                <input name="password" type="password" id="password" class="form-control" placeholder="Password"
                       required>
            </div>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" id="submit" type="submit">Sign In</button>
            <div class="sign-in-link">
                <p class="fs-6">Don't have an account? <a href="{{ url_for('user_service.sign_up') }}" class="text-decoration-none">Sign Up</a></p>
            </div>
            <div class="copyright">
                <p class="mt-5 mb-3 text-muted">&copy; Kek</p>
            </div>
        </form>
    </main>
{% endblock %}